@import url('https://fonts.googleapis.com/css?family=Caveat');

.date {
    display: flex;
    flex-direction: row;
}


.textDiv {
    margin-top: 30px;
    margin-left: 30px;
    
    border-radius: 5px;

    font-size: 60px;
    color: black;

    width: 320px;
    height: 60px;
    display: flex;
    
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: inherit;

    border-style: none;
   
    background: transparent;
    font-family: 'Caveat';
}

.changeDateBtn {
    margin-top: 30px;
    margin-left: 30px;
    
    border-radius: 5px;

    font-size: 22px;
    color: white;

    width: 160px;
    height: 50px;
    display: flex;
    
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: inherit;

    border-style: none;
   
    background-color: rgb(56, 93, 255);
}